@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li><a href="/.well-known/openid-configuration">Discovery Endpoint</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>User</h2>
        <ul>
            @if (Model != null)
            {
                foreach (var claim in Model.Claims)
                {
                    var item = $"{claim.Type} :: {claim.Value}";
                    <li>@item</li>
                }
            }
        </ul>
    </div>
</div>
